<form #miForm="ngForm">
  <p>
    <label for="id">Código</label>
    <input type="number" id="id" name="id" [(ngModel)]="elemento.id" #id="ngModel">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="elemento.nombre" #nombre="ngModel">
    <br>
    <label for="descripcion">Descripcion</label>
    <input type="text" id="descripcion" name="descripcion" [(ngModel)]="elemento.descripcion" #descripcion="ngModel">
    <br>
    <label for="">Código</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="elemento.precio" #precio="ngModel">
  </p>
  <p>
    <input type="button" value="Enviar" (click)="enviar()" >
    <input type="button" value="Volver" (click)="cancelar()" >
  </p>
</form>

{{ elemento | json }}
