<table>
    <tr>
        <td>
            <img src='assets/logo.png' alt="Logotipo de INDRA" >
        </td>
        <td width="100%">
            <a [routerLink]="['/inicio']" routerLinkActive="menu-active">inicio</a>&nbsp;|&nbsp;
            <a [routerLink]="['/demos']" routerLinkActive="menu-active">demos</a>&nbsp;|&nbsp;
            <a [routerLink]="['/chisme/de/hacer/numeros']" routerLinkActive="menu-active">calc</a>&nbsp;|&nbsp;
            <a [routerLink]="['/personas']" routerLinkActive="menu-active">personas</a>&nbsp;|&nbsp;
            <a [routerLink]="['/blog']" routerLinkActive="menu-active">blog</a>&nbsp;|&nbsp;
            <a [routerLink]="['/pepito/grillo']" routerLinkActive="menu-active">pepito</a>&nbsp;|&nbsp;
            <!-- <a [routerLink]="['/falsa']" routerLinkActive="menu-active">flasa</a>&nbsp;|&nbsp; -->
            <a [routerLink]="['/empleados']" routerLinkActive="menu-active">emp</a>&nbsp;|&nbsp;
            <a href="/demos">href</a>&nbsp;|&nbsp;
            <a [routerLink]="['/config']" routerLinkActive="menu-active">config</a>&nbsp;|&nbsp;
            <a [routerLink]="['/config/datos']" routerLinkActive="menu-active">datos</a>&nbsp;|&nbsp;
        </td>
        <td>
            <app-login></app-login>
        </td>
    </tr>
</table>
